
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import "reset.css";

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
        }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    * {
        box-sizing: border-box;
    }
        /* header */
        header {
            position: fixed;

        }

        .header {
        width: 1440px;       
        margin-left: auto;
        margin-right: auto;
        padding: 29px 160px;       
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #5C6F4E;
        }
          .logo {
              font-size: 36px;
              font-weight: 400;
              line-height: 1.2;
              color: white;
          }

          .link {
              font-size: 24px;
              font-weight: 400;
              line-height: 1.1;
              color: black; 
                 
               }
               
               .secondary-list li:last-of-type  {
                   margin-bottom: 0;
               }
               .secondary-list li {
                margin-bottom: 32px;
               }
        .list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
             }
        

        .dot {
            height: 50px;
            width: 50px;
            border-radius: 25px;                
            background-color: #D78686;
            padding: 0;
            border: 0;
            margin-right: 10px;
        }
        .down {   
             width: 265px;
            height: 207px;        
            background-color: #6F7397;
            padding-top: 10px;
            padding-bottom: 10px;
            opacity: 0;
            visibility: hidden;
            position: absolute;            
            left: 1015px;
            top: 68px;

        }
        .secondary-list {   
            width: 265px;
            height: 187px;          
             background-color: #7B89BA;
             opacity: 0;
             visibility: hidden;
             padding: 16px 74px 31px 10px;
                         
             left: 1015px;
             top: 79px;
            }

          .list:hover .down {
            visibility: visible;
            opacity: 1;
        }
        .list:hover .secondary-list {
            visibility: visible;
            opacity: 1;
        }
        
       
             
        /* end header */